/* theme */
/* fonts */
@font-face {
  font-family: "BYekan";
  src: url('fonts/Yekan.eot?1445920942');
  src: url('fonts/Yekan.eot?&1445920942#iefix') format('embedded-opentype'), url('fonts/Yekan.ttf?1445920942') format('truetype'), url('fonts/Yekan.woff?1445920942') format('woff');
  font-weight: "Yekan.svg"; }
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, sass/rtl/fonts/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/* ------------susy-------- */
/* line 14, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 17, sass/rtl/base/_variables.scss */
.fullwidth {
  width: 100%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }

/* line 20, sass/rtl/base/_variables.scss */
.oneSecond {
  width: 49.23077%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  /* line 22, sass/rtl/base/_variables.scss */
  .oneSecond:nth-child(2n) {
    width: 49.23077%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 28, sass/rtl/base/_variables.scss */
.oneThird {
  width: 32.30769%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  /* line 30, sass/rtl/base/_variables.scss */
  .oneThird:nth-child(3n) {
    width: 32.30769%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 36, sass/rtl/base/_variables.scss */
.oneFourth {
  width: 23.84615%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  /* line 38, sass/rtl/base/_variables.scss */
  .oneFourth:nth-child(4n) {
    width: 23.84615%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 43, sass/rtl/base/_variables.scss */
.Fifth {
  width: 40.76923%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }

/* line 47, sass/rtl/base/_variables.scss */
.lastGrid {
  float: left;
  margin-left: 0;
  *margin-right: -1em;
  display: inline; }

/*------ colors -----------*/
/*----------------transition-shadow----------------------*/
/* line 79, sass/rtl/base/_variables.scss */
.def-transition, ul.main-nav > li a {
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s; }

/*----------------box-shadow----------------------*/
/* line 84, sass/rtl/base/_variables.scss */
.def-box-shadow {
  -moz-box-shadow: 0px 0px 7px #333333;
  -webkit-box-shadow: 0px 0px 7px #333333;
  box-shadow: 0px 0px 7px #333333; }

/*----------------gradiant----------------------*/
/* base style */
/* line 2, sass/rtl/base/_base.scss */
body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: block;
  -moz-transition: all, 0.4s 1s 0s;
  -o-transition: all, 0.4s 1s 0s;
  -webkit-transition: all, 0.4s 1s;
  -webkit-transition-delay: 0s;
  transition: all 0.4s 1s 0s; }

/* line 15, sass/rtl/base/_base.scss */
body {
  direction: rtl;
  font-family: "BYekan";
  font-size: 100%;
  z-index: 1; }
  /* line 21, sass/rtl/base/_base.scss */
  body form {
    text-align: right;
    direction: rtl; }

/* line 29, sass/rtl/base/_base.scss */
.layout {
  *zoom: 1;
  max-width: 67em;
  _width: 67em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  /* line 38, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout:after {
    content: "";
    display: table;
    clear: both; }

/* line 36, sass/rtl/base/_base.scss */
.fa, ul.main-nav > li.menu-item-has-children > a:after, ul.main-nav li ul.sub-menu li.menu-item-has-children > a:after, .secondary nav.side-menu li.menu-item-object-product_cat > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* line 40, sass/rtl/base/_base.scss */
dl, menu, ol, ul, dir {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

/* line 50, sass/rtl/base/_base.scss */
.gallery:after {
  clear: both; }

/* line 53, sass/rtl/base/_base.scss */
.gallery:before,
.gallery:after {
  content: "";
  display: table; }

/* line 59, sass/rtl/base/_base.scss */
.gallery {
  margin-left: auto;
  margin-right: -4px; }

/* line 64, sass/rtl/base/_base.scss */
.gallery-item {
  float: right;
  margin: 0 0px 4px 4px; }

/* line 70, sass/rtl/base/_base.scss */
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: auto;
  margin-left: 0; }

/* line 83, sass/rtl/base/_base.scss */
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: right; }

/* line 90, sass/rtl/base/_base.scss */
.gallery-caption {
  bottom: 0;
  right: 0;
  left: auto;
  text-align: right; }

/* line 97, sass/rtl/base/_base.scss */
.gallery-caption:before {
  right: 0;
  left: auto; }

/* Images */
/* line 104, sass/rtl/base/_base.scss */
.alignleft {
  float: left; }

/* line 108, sass/rtl/base/_base.scss */
.alignright {
  float: right; }

/* line 112, sass/rtl/base/_base.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 118, sass/rtl/base/_base.scss */
figure.wp-caption.alignleft,
img.alignleft {
  margin: 5px 20px 5px 0; }

/* line 123, sass/rtl/base/_base.scss */
.wp-caption.alignleft {
  margin: 5px 10px 5px 0; }

/* line 127, sass/rtl/base/_base.scss */
figure.wp-caption.alignright,
img.alignright {
  margin: 5px 0 5px 20px; }

/* line 132, sass/rtl/base/_base.scss */
.wp-caption.alignright {
  margin: 5px 0 5px 10px; }

/* line 136, sass/rtl/base/_base.scss */
img.aligncenter {
  margin: 5px auto; }

/* line 140, sass/rtl/base/_base.scss */
img.alignnone {
  margin: 5px 0; }

/* line 146, sass/rtl/base/_base.scss */
div.wp-caption.alignright img[class*="wp-image-"] {
  float: right; }

/* line 150, sass/rtl/base/_base.scss */
div.wp-caption.alignright .wp-caption-text {
  padding-left: 10px; }

/* line 154, sass/rtl/base/_base.scss */
img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* line 164, sass/rtl/base/_base.scss */
.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
  list-style-position: inside; }

/*-------------js Composer---------------------*/
/* line 170, sass/rtl/base/_base.scss */
.vc_grid.vc_row .vc_grid-item {
  z-index: 0 !important; }

/* mixins */
@-webkit-keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-moz-keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-o-keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-webkit-keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-moz-keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-o-keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-webkit-keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-moz-keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-o-keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
/* line 21, sass/rtl/layout/_header.scss */
.site-header div.hero .site-logo-contianer {
  right: 0;
  left: auto;
  margin-left: 1px;
  margin-right: 10px; }
/* line 27, sass/rtl/layout/_header.scss */
.site-header div.hero .lang-container {
  left: 40px;
  right: auto; }
/* line 33, sass/rtl/layout/_header.scss */
.site-header div.hero .contact-info-bar span i:before {
  margin-right: 10px;
  margin-left: 5px; }
/* line 41, sass/rtl/layout/_header.scss */
.site-header nav.main-menu {
  /*-------search form-------------------*/ }
  /* line 44, sass/rtl/layout/_header.scss */
  .site-header nav.main-menu.scroll-to-fixed-fixed .site-logo-in-menu {
    float: right; }
  @media (min-width: 45em) {
    /* line 49, sass/rtl/layout/_header.scss */
    .site-header nav.main-menu .search-form-wrapper {
      right: auto;
      left: 0; } }
  /* line 54, sass/rtl/layout/_header.scss */
  .site-header nav.main-menu .search-form-wrapper .search-area {
    float: left; }
    /* line 57, sass/rtl/layout/_header.scss */
    .site-header nav.main-menu .search-form-wrapper .search-area span#submit i:before {
      margin-left: 1px;
      margin-right: 5px; }
/* line 66, sass/rtl/layout/_header.scss */
.site-header div.menu-icons {
  text-align: left;
  float: left; }
/* line 70, sass/rtl/layout/_header.scss */
.site-header span.menu-icon {
  border-right: 1px solid #f68b69;
  border-left: 0px;
  margin-left: -3px;
  margin-right: 0px; }
  /* line 76, sass/rtl/layout/_header.scss */
  .site-header span.menu-icon.search-icon {
    border-left: 1px solid #f68b69; }

/* line 83, sass/rtl/layout/_header.scss */
ul.main-nav {
  text-align: right;
  margin-right: 0px;
  margin-left: auto; }
  @media (min-width: 45em) {
    /* line 83, sass/rtl/layout/_header.scss */
    ul.main-nav {
      margin-left: auto;
      margin-right: 120px; } }
  @media (min-width: 45em) {
    /* line 97, sass/rtl/layout/_header.scss */
    ul.main-nav > li {
      margin-right: 0px;
      margin-left: -3px; } }
  /* line 102, sass/rtl/layout/_header.scss */
  ul.main-nav > li.fa {
    font-family: "BYekan"; }
    /* line 105, sass/rtl/layout/_header.scss */
    ul.main-nav > li.fa:before {
      font: normal normal normal 14px/1 FontAwesome !important; }
  @media (min-width: 45em) {
    /* line 109, sass/rtl/layout/_header.scss */
    ul.main-nav > li a {
      border-left: 0px;
      border-right: 1px solid #fe8761; } }
  /* line 121, sass/rtl/layout/_header.scss */
  ul.main-nav > li:last-child a {
    border-left: 0px; }
    @media (min-width: 45em) {
      /* line 121, sass/rtl/layout/_header.scss */
      ul.main-nav > li:last-child a {
        border-left: 1px solid #fe8761; } }
  @media (min-width: 45em) {
    /* line 132, sass/rtl/layout/_header.scss */
    ul.main-nav > li.menu-item-has-children > a:after {
      padding-left: 0px;
      padding-right: 5px;
      right: auto;
      left: 45%; } }
  @media (min-width: 45em) {
    /* line 142, sass/rtl/layout/_header.scss */
    ul.main-nav > li > ul.sub-menu, ul.main-nav li ul.sub-menu {
      right: -30%;
      left: auto; } }
  @media (min-width: 45em) {
    /* line 149, sass/rtl/layout/_header.scss */
    ul.main-nav > li > ul.sub-menu li.menu-item-has-children > a:after, ul.main-nav li ul.sub-menu li.menu-item-has-children > a:after {
      left: 12px;
      right: auto; } }
  @media (min-width: 45em) {
    /* line 158, sass/rtl/layout/_header.scss */
    ul.main-nav > li > ul.sub-menu li ul {
      right: 100%;
      left: auto; } }
  @media (min-width: 45em) {
    /* line 164, sass/rtl/layout/_header.scss */
    ul.main-nav ul.sub-menu li:hover ul {
      right: 100%;
      left: auto; } }

/* main style */
/* line 2, sass/rtl/layout/_main.scss */
.site-content {
  z-index: 1; }
  /* line 4, sass/rtl/layout/_main.scss */
  .site-content .banner-wrapper {
    margin-top: 15px;
    border: 1px solid #fac3b1;
    background-color: rgba(255, 255, 255, 0.85);
    overflow: hidden;
    text-align: right;
    padding: 0px; }
    /* line 11, sass/rtl/layout/_main.scss */
    .site-content .banner-wrapper .banner-inner {
      padding: 5px;
      padding-bottom: 0px; }
    /* line 15, sass/rtl/layout/_main.scss */
    .site-content .banner-wrapper h1 {
      font-size: 1.3em; }

/* line 24, sass/rtl/layout/_main.scss */
.page-template-full-width .site-content .layout, .page-template-full-width .site-content .primary {
  margin: 0px;
  padding: 0px;
  width: 100% !important;
  height: 100%;
  max-width: 100%; }
/* line 32, sass/rtl/layout/_main.scss */
.page-template-full-width article.hentry {
  border: 0px !important;
  background: none !important;
  padding: 0px; }

/* line 39, sass/rtl/layout/_main.scss */
.page-template-intro {
  background: url('../images/intro-back.jpg?1456562883');
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  /* line 44, sass/rtl/layout/_main.scss */
  .page-template-intro header, .page-template-intro footer {
    display: none; }
  /* line 47, sass/rtl/layout/_main.scss */
  .page-template-intro .primary {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100%;
    max-width: 100%; }
  /* line 54, sass/rtl/layout/_main.scss */
  .page-template-intro article.hentry {
    border: 0px !important;
    background: none !important; }

/* line 60, sass/rtl/layout/_main.scss */
.page-template-without-sidebar .primary {
  width: 100%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  @media (min-width: 45em) {
    /* line 60, sass/rtl/layout/_main.scss */
    .page-template-without-sidebar .primary {
      width: 100%;
      float: right;
      margin-left: 1.53846%; } }

/* line 70, sass/rtl/layout/_main.scss */
.primary {
  width: 100%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  @media (min-width: 45em) {
    /* line 70, sass/rtl/layout/_main.scss */
    .primary {
      width: 74.61538%;
      float: right;
      margin-left: 1.53846%;
      margin-right: auto; } }
  /* line 77, sass/rtl/layout/_main.scss */
  .primary article.hentry {
    border-left: 0px;
    border-right: 2px solid #f79e81; }
    /* line 80, sass/rtl/layout/_main.scss */
    .primary article.hentry .article-body {
      overflow: hidden; }
      /* line 82, sass/rtl/layout/_main.scss */
      .primary article.hentry .article-body .featured-image.single-image {
        width: 100%;
        float: right;
        margin-left: 1.53846%;
        display: inline; }
        @media (min-width: 45em) {
          /* line 82, sass/rtl/layout/_main.scss */
          .primary article.hentry .article-body .featured-image.single-image {
            width: 32.30769%;
            float: right;
            margin-left: 1.53846%;
            margin-right: auto; } }
      /* line 89, sass/rtl/layout/_main.scss */
      .primary article.hentry .article-body .excerpt {
        width: 100%;
        float: right;
        margin-left: 1.53846%;
        display: inline; }
        @media (min-width: 45em) {
          /* line 89, sass/rtl/layout/_main.scss */
          .primary article.hentry .article-body .excerpt {
            width: 66.15385%;
            float: left;
            margin-left: 0;
            margin-right: auto; } }
    /* line 98, sass/rtl/layout/_main.scss */
    .primary article.hentry ul.pharmacy-information-list i:before {
      padding-left: 7px;
      padding-right: 1px; }

/* line 107, sass/rtl/layout/_main.scss */
.without-sidebar .primary {
  width: 100%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  @media (min-width: 45em) {
    /* line 107, sass/rtl/layout/_main.scss */
    .without-sidebar .primary {
      width: 100%;
      float: right;
      margin-left: 1.53846%;
      margin-right: auto; } }

/*------------store locator----------------------*/
/* line 115, sass/rtl/layout/_main.scss */
.secondary {
  width: 100%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  @media (min-width: 45em) {
    /* line 115, sass/rtl/layout/_main.scss */
    .secondary {
      width: 23.84615%;
      float: left;
      margin-left: 0;
      margin-right: auto; } }
  /* line 124, sass/rtl/layout/_main.scss */
  .secondary nav.side-menu li img {
    float: right;
    margin-right: auto;
    margin-left: 8px; }
  @media (min-width: 45em) {
    /* line 129, sass/rtl/layout/_main.scss */
    .secondary nav.side-menu li.menu-item-object-product_cat > a:after {
      padding-right: 5px;
      padding-left: 0px;
      left: auto;
      right: 4px; } }
  @media (min-width: 45em) {
    /* line 141, sass/rtl/layout/_main.scss */
    .secondary nav.side-menu ul.sub-menu {
      right: auto;
      left: 100%;
      border-right: 4px solid #f36639;
      border-left: 0px; } }
  /* line 156, sass/rtl/layout/_main.scss */
  .secondary aside.widget.widget_last_products_widget li img {
    margin-left: 10px;
    margin-right: auto; }
  /* line 163, sass/rtl/layout/_main.scss */
  .secondary aside.widget.widget_contact_info_widget i:before {
    margin-right: auto;
    margin-left: 10px;
    color: #f36639; }

/* line 4, sass/rtl/layout/_footer.scss */
div.footer-widget-area .footer-col1,
div.footer-widget-area .footer-col2,
div.footer-widget-area .footer-col3 {
  width: 100%;
  float: right;
  margin-left: 1.53846%;
  display: inline; }
  @media (min-width: 45em) {
    /* line 4, sass/rtl/layout/_footer.scss */
    div.footer-widget-area .footer-col1,
    div.footer-widget-area .footer-col2,
    div.footer-widget-area .footer-col3 {
      width: 32.30769%;
      float: right;
      margin-left: 1.53846%;
      margin-right: 0px; } }
@media (min-width: 45em) {
  /* line 14, sass/rtl/layout/_footer.scss */
  div.footer-widget-area .footer-col3 {
    float: left;
    margin-left: 0;
    margin-right: 0px; } }
/* line 21, sass/rtl/layout/_footer.scss */
div.footer-widget-area aside.widget_contact_info_widget i:before {
  margin-right: 1px;
  margin-left: 10px; }

@media (min-width: 45em) {
  /* line 32, sass/rtl/layout/_footer.scss */
  .credit-holder span.site-holder {
    float: left; } }

/* button style */
/* line 2, sass/rtl/modules/_btn.scss */
input[type=submit], button {
  border: 0px;
  padding: 10px 15px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
  background-color: #f36639;
  color: #FFFFFF; }
  /* line 10, sass/rtl/modules/_btn.scss */
  input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus {
    background-color: #f25321; }
  /* line 13, sass/rtl/modules/_btn.scss */
  input[type=submit]#searchsubmit, button#searchsubmit {
    padding: 8px 15px; }

/* line 20, sass/rtl/modules/_btn.scss */
.sidebar-widget input[type=submit]#searchsubmit, .sidebar-widget button#searchsubmit {
  padding: 3px 15px; }

/* dividers style */
/* form style */
/* line 4, sass/rtl/modules/_tables.scss */
table.products_list_table tr td, table.products_list_table tr th {
  text-align: right; }

/* other style */
/* line 3, sass/rtl/modules/_comments.scss */
.comment-area .comment-metadata {
  float: left; }
/* line 6, sass/rtl/modules/_comments.scss */
.comment-area .reply {
  float: left; }
@media (min-width: 45em) {
  /* line 9, sass/rtl/modules/_comments.scss */
  .comment-area .depth-1 {
    margin-left: auto;
    margin-right: 0; } }
@media (min-width: 45em) {
  /* line 15, sass/rtl/modules/_comments.scss */
  .comment-area .depth-2 {
    margin-right: 20px;
    margin-left: auto; } }
@media (min-width: 45em) {
  /* line 21, sass/rtl/modules/_comments.scss */
  .comment-area .depth-3 {
    margin-right: 40px;
    margin-left: auto; } }
@media (min-width: 45em) {
  /* line 27, sass/rtl/modules/_comments.scss */
  .comment-area .depth-4 {
    margin-right: 60px;
    margin-left: auto; } }

/* line 35, sass/rtl/modules/_comments.scss */
#commentform label {
  float: right; }

/* setting style */
/* utilities style */
