/* ------------susy-------- */
$total-columns : 12;
$column-width : 4.5em;
$gutter-width : 1em;
$grid-padding : $gutter-width;
$from-direction: right;
$omega-float : left;

$default-transition-delay    : 0s;
@include border-box-sizing;

$small : 30em;
$xmedium : 34em;
$medium : 45em;
$larg : 65em;

.fullwidth{
	@include span-columns(12,12);
}
.oneSecond{
	@include span-columns(6,12);
	&:nth-child(2n){
		@include span-columns(6 omega,12);
	}

}

.oneThird{
	@include span-columns(4,12);
	&:nth-child(3n){
		@include span-columns(4 omega,12);
	}

}

.oneFourth{
	@include span-columns(3,12);
	&:nth-child(4n){
		@include span-columns(3 omega,12);
	}

}
.Fifth{
	@include span-columns(5,12);

}
.lastGrid{
	@include omega;
}

/*------ colors -----------*/

$orang : #f36639;


$red : #FF3300;
$green : #8db63f;
$blue1 : #c0dbe9;
$blue2 : #00a7d4;
$blue3 : #0065b1;

$grey3: #333333;
$grey2 : #E6E7E7;
$grey1 : #F2F2F2;


$black3 : #1C1C1C;
$black2 : #282828;
$black1 : #111;

$white : #FFFFFF;
$white2 : #F8F8F8;

$glassyBlack : rgba(44, 35, 40, 0.85);
$glassyWhite : rgba(255, 255, 255, 0.85);
$glassyOrange :rgba(243,102,57,0.85);

/*----------------transition-shadow----------------------*/
.def-transition{
	@include single-transition(all ,0.4s , ease-in-out);
}
/*----------------box-shadow----------------------*/

.def-box-shadow{
	@include box-shadow(0px 0px 7px $grey3);
}

/*----------------gradiant----------------------*/



