
// ---------- keyframes---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 1;display : inline-block  }
}

// ---------- site-header---------------------------------
.site-header{
	.header-inner {
		@include at-breakpoint($medium){

		}
	}
	div.hero{
		text-align : center;
		a.site-url{
			display: inline-block;
			margin : auto;
			.site-logo{
				display: block;
				margin : 25px auto 5px;
				max-width : 240px;
			}
			span.site-desc{
				margin-bottom : 10px;
				display: inline-block;
				color : $orang;
			}
		}
		.lang-container{
			position : absolute;
			top : 0;
			left : 40px;
			display : inline-block;
			padding : 10px;
			#lang_sel_list ul a.lang_sel_other,
			#lang_sel li ul a:link,
			 #lang_sel_list ul a.lang_sel_other:visited,
			 span.icl_lang_sel_current.icl_lang_sel_native,
			 a.lang_sel_sel {
    			background-color: rgba(0,0,0,0) !important;
    			background: rgba(0,0,0,0) !important;
    			border : 0px;
			}
			#lang_sel_list ul {
			    border-top: 0px;
			}
		}
	}
	nav.main-menu{
		
		width : 100%;
		display : none;
		position : relative;
		.menu-search-area{
			position : absolute;
			top : 15px;
			right : 30px;
			display : none;
			label{
				display : none;
			}
			span#submit{
				color : $blue2;
				cursor: pointer;
				position : absolute;
				right : 10px;
				top : 0px;
			}
			input#s{
				
				@include single-transition(all, 0.8s, ease-in-out);
				width : 130px;
				height : 32px;
				color : $black1;
				font-size : 90%;
				display: inline-block;
				padding-right : 20px;
				&:focus{
					width : 160px;
				}
				
			}

		}
		@include at-breakpoint($medium){
			display: block;
			.menu-search-area{
				display : inline-block;
			}
		}

		
	}
	span.menu-toggler{
		display: inline-block;
		@include at-breakpoint($medium){
			display: none;
		}
		cursor: pointer;
		i:before{
			@extend .def-box-shadow;
			padding : 3px 6px;
			background-color: $blue2;
			color : $white;
			font-size: 	180%;
		}
		&:hover{
			i:before{
				opacity : 0.9;
			}
		}
	}

}
ul.main-nav{
	@extend .green-cube-gradiant;
	@extend .def-box-shadow;
	@extend .def-transition;
	border-bottom : 4px solid $blue2;
	@include border-top-radius(20px);
	width : 100%;
	text-align : left;
	padding-left : 40px;
	padding-right : 40px;
	margin : 0px auto;
	
	&>li{
		display: block;
		@include at-breakpoint($medium){
			display: inline-block;
			margin-right : 10px;
		}
		position : relative;
		&.fa{
			font : inherit;
			font-family: $open-sans,$serif;
			
			&:before{
				font : normal normal normal 14px/1 FontAwesome !important;
				color : $white;
			}
		}
		a{
			@extend .def-transition;

			color : $white; 
			padding : 5px;
			@include at-breakpoint($medium){
				padding: 15px 10px;
			}
    		display: inline-block;
    		&:hover{
    			background-color : lighten($green , 5%);
    		}

		}
		&.current_page_item{
			&>a{
				background-color : lighten($green , 5%);
			}
		}
		
	 }
	 &>li.menu-item-has-children>a:after{
		@extend .fa;
		@include at-breakpoint($medium){
			content: "\f0d7";
			vertical-align : middle;
			padding-left: 5px;
			// width walker added
			position: absolute;
	    	right: 30%;
	    	top: 38px;
	    }
	}
	&>li>ul.sub-menu{
		@include at-breakpoint($medium){
			border-top : 4px solid $blue2;
		}
	}
	&>li>ul.sub-menu,li ul.sub-menu{
		//@include single-transition(all , 0.8s , ease-in-out);
		z-index : 0;
		
		padding : 0;
		margin : 0;
		
		
		@include at-breakpoint($medium){
			@include box-shadow(0px 0px 7px $grey3);
			text-align : center;
			opacity: 0;
			position : absolute;
			top : 100%;
			left : -30%;
			display: block;
			display: inline-block;
			@include display-none;
		}

		
		
		
		li{
			//display: none;
			@include at-breakpoint($medium){
				background-color : $white2;
		 		@include animation('move-down .5s 1');
		 		position : relative;
		 	}
		}
		
		a{
			min-width : 220px;
			padding : 5px;
			@include at-breakpoint($medium){
				padding : 10px 20px;
			}
			@include at-breakpoint($medium){
				border : 0px;
				color : $black2;
				&:hover{
					color : $white;
					// background-color : $black2;
				}
			}
		}
		li.menu-item-has-children>a:after{
			@extend .fa;
			@include at-breakpoint($medium){
				content: "\f0da";
			    right: 12px;
			    position: absolute;
			        top: 16px;
			    vertical-align : middle;
			}
		}
	}
	&>li:hover{
		
		@include at-breakpoint($medium){
			&>ul.sub-menu{
				opacity: 1;
				visibility: visible;
		  		transition-delay:0s;
		  		z-index : 9999;
				&>li{
					//display: inline-block;
					//opacity : 1;
					@include animation('move-up .5s 1');
				}

				
			}
		}
	}
	
	&>li>ul.sub-menu li ul{
		//@include single-transition(all , 0.8s , ease-in-out);
		
		
		padding : 0;
		margin : 0;
		
		
		display: block;
		@include at-breakpoint($medium){
			text-align : center;
			z-index : 0;
			opacity: 0;
			left : 100%;
			top : 0;
			display: inline-block;
			@include display-none;
		}
		
		
		
		
		li{
			//display: none;
			@include at-breakpoint($medium){
				background-color : $white2;
		 		@include animation('move-down .5s 1');
		 		position : relative;
		 	}
		}
		
		a{
			min-width : 180px;
			padding : 5px;
			@include at-breakpoint($medium){
				padding : 15px;
			}
			&:hover{
				// color : $white2;
				// background-color : $black2;
			}
		}
	}
	&>li>ul.sub-menu li:hover{
		@include at-breakpoint($medium){
			&>ul.sub-menu{
				opacity: 1;
				visibility: visible;
		  		transition-delay:0s;
		  		z-index : 9999;
		  		
				&>li{
					//display: inline-block;
					//opacity : 1;
					@include animation('move-up .5s 1');
					
				}

				
			}
		}
	}
	ul.sub-menu li:hover ul{
		@include at-breakpoint($medium){
			display: inline-block;
			left : 100%;
			top : 0;
		}

	}
}






