
// ---------- keyframes---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 1;display : inline-block  }
}

.site-header{
	.header-inner {
		background-position: 5% 100%;
	}
	div.hero{
		
		.lang-container{
			
			right : 40px ;
			left : auto;
			
		}
		span.site-desc{
			font-size : 140%;
		}
	}
	nav.main-menu{
		.menu-search-area{
			left : 30px;
			right : auto;
			span#submit{
				left : 10px;
				right : auto;
				top : 4px;
			}
			input#s{
				padding-right : 5px;
				padding-left : 20px;
			}
		}
		ul.main-nav{
			text-align: right;
		}
	}
	

}
ul.main-nav{
	text-align : right;
	margin : 0px auto;
	&>li{
		@include at-breakpoint($medium){
			margin-right : auto;
			margin-left : 10px;
		}
		&.fa{
			font : inherit;
			font-family: $web_yekan;
			
			&:before{
				font : normal normal normal 14px/1 FontAwesome !important;
				color : $white;
			}
		}
	}
	a{
		font-size: 110%;
	}	
	
	&>li.menu-item-has-children>a:after{
		@include at-breakpoint($medium){
	    	left: 30%;
		    right: auto;
		    
	    }
    	
	}
	
	&>li>ul.sub-menu,li ul.sub-menu{
		@include at-breakpoint($medium){
			left : auto;
			right : -30%;
		}
		
			
		li.menu-item-has-children>a:after{
			@extend .fa;
			@include at-breakpoint($medium){
				content: "\f0d9";
				 left: 12px;
				 right: auto;
			}
		    
		}
	}
	
	
	&>li>ul.sub-menu li ul{
		@include at-breakpoint($medium){
			right : 100%;
			left : auto;
		}
		
	}
	
	ul.sub-menu li:hover ul{
		@include at-breakpoint($medium){
			right : 100%;
			left : auto;
		}

	}
}






